# New layout tools 
sphinxcontrib-bibtex
sphinx-design
pygments
ipython

# Documentation Tools
sphinx-book-theme
myst-parser
nbsphinx
sphinx


plotly
sphinx-rtd-size
gprofiler-official
sankeyflow
nbformat
anndata
scanpy